{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Farabi Bot</title>
</head>

<body>
    <div class="form-style-6">
        <h1>Type Your Id and Password</h1>
        {{ wtf.quick_form(form, method='post', novalidate=True)}}
    </div>

</body>

</html>